@use "./PostList.scss";
@use "./Navbar.scss";
@use "./UserList.scss";

body {
  font-family: monospace;
  text-align: center;
  background-color: rgba(239, 247, 255, 0.945);
}

ul {
  list-style-type: none;
  padding: 0px;
}

.nav-arrow-container {
  align-self: left;
  margin: 20 auto auto 20;
  width: fit-content;
  color: rgb(60, 60, 63);
  font-size: 30px;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
}
