@use "./PostList.scss";
@use "./Navbar.scss";
@use "./UserList.scss";
@import "./StylingConstants.scss";

body {
  font-family: map-deep-get($fonts, family);
  background-color: $background-color;
  font-size: map-deep-get($fonts, sizes, body, desktop);
  line-height: map-deep-get($fonts, line-height, body, desktop);
  color: $main-font-colour;
  text-align: center;
}

.btn {
  color: $main-button-colour;
  font-size: map-deep-get($fonts, sizes, button, desktop);
  padding: map-deep-get($spacing, card-padding, desktop);
}

ul {
  list-style-type: none;
  padding: 0px;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
}

@media (max-width: $max-tablet-width) {
  body {
    font-size: map-deep-get($fonts, sizes, body, tablet);
    line-height: map-deep-get($fonts, line-height, body, tablet);
  }

  .btn {
    font-size: map-deep-get($fonts, sizes, button, tablet);
  }
}

@media (max-width: $max-mobile-width) {
  body {
    font-size: map-deep-get($fonts, sizes, body, mobile);
    line-height: map-deep-get($fonts, line-height, body, mobile);
  }

  .btn {
    font-size: map-deep-get($fonts, sizes, button, mobile);
  }
}

.page-margin {
    padding-left: 10vw;
    padding-right: 10vw;
}