@use "./PostList.scss";
@use "./Navbar.scss";
@use "./UserListUp.scss";
@import "./StylingConstants.scss";

body {
  font-family: monospace;
  text-align: center;
  background-color: $background-color;
}

.btn {
  color: $main-button-colour;
  font-size: map-deep-get($fonts, sizes, button, desktop);
}

ul {
  list-style-type: none;
  padding: 0px;
}

.nav-arrow-container {
  align-self: left;
  margin: 20 auto auto 20;
  width: fit-content;
  color: rgb(60, 60, 63);
  font-size: 30px;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
}

@media (max-width: 2200px) {
  .btn {
    font-size: map-deep-get($fonts, sizes, button, tablet);
  }
}

@media (max-width: 648px) {
  .btn {
    font-size: map-deep-get($fonts, sizes, button, mobile);
  }
}
