@import "./StylingConstants.scss";

.header {
  display: flex;
  background: $background-color-darker;
  justify-content: space-between;
  align-items: center;
  padding: 0px map-deep-get($spacing, gutters, desktop);
  height: 50px;
}

.logo-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-options {
  padding-left: 25px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 50px;
  list-style-type: none;
}

.mobile-option {
  display: none;
  color: $main-button-colour;
}

@mixin nav-buttons {
  text-decoration: none;
  color: $main-button-colour;
  &:active {
    font-weight: bold;
  }
  &:hover {
    text-decoration: underline;
  }
}

.logo {
  @include nav-buttons;
}

.option a {
  @include nav-buttons;
}

.mobile-menu {
  display: none;
  z-index: 2;
}

@media (max-width: $max-mobile-width) {
  .header {
    background: transparent;
    color: $background-color-darker;
  }

  .nav-options {
    display: none;
    width: 70%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 20px;
    margin: 0;
    opacity: 0;
    z-index: 1;
    transition: all 0.5s ease;
  }

  .nav-options.active {
    display: flex;
    flex-direction: column;
    grid-gap: 0px;
    background: $background-color-darker;
    right: 0;
    opacity: 1;
    transition: all 0.5s ease;
    align-content: center;
    padding-left: 0px;
  }

  .option {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vw;
    padding: 30px 0px;
  }

  .mobile-menu {
    display: block;
  }
}
